{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0,
      maximum-scale=1.0, minimum-scale=1.0" />
<meta name="author" content="Di Ludovico Maximiiano" />
<meta name="description" content="Cafeteria Urbana la mas rica del pais alimentando un mundo mejor" />
<meta name="keywords" content=" html5 , css3 , javascript , python , sqlite , django , 
      frontend , backend , desarrollo web , fullstack, herencia" />
<meta name="Copyright" content="Di Ludovico Maximiiano" />
<meta name="language" content="es" />
<meta name="actualizado" content="02/11/2021" />
<meta name="revisit-after" content="1 month" />
<meta name="robots" content="index" />

<!--Archivos para borrar la cache del navegador-->
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">

 <!-- Favicons -->
    <link href="{% static 'core/img/favicon.png' %}" rel="icon" type="image/x-icon" />
    <link href="{% static 'core/img/apple-touch-icon.png' %}" rel="apple-touch-icon" type="image/x-icon" />
      

 <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'core/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<!-- Modernizr JS -->
	<script src="{% static 'core/vendor/js/modernizr-2.6.2.min.js' %}"></script>
  <!--CSS-->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
<title>Di Ludovico Maximiliano</title>



